src/VL.Waves.Audio/.vs
src/VL.Waves.Audio/VL.Waves.Audio/obj
src/VL.Waves.Audio/VL.Waves.Audio/bin
src/VL.Waves.Audio/VL.Waves/.vs/*
csharp/VL.Waves/.vs
csharp/VL.Waves/obj
csharp/VL.Waves/bin
/.vl
/.vs
/csharp/VL.Waves/.vs/
